<%layout('../layout')%>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tables</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div id="exTab1" class="container"> 
        <ul  class="nav nav-pills">
            <li class="active">
                <a  href="#1a" id="tab1" data-toggle="tab">Menu 1</a>
            </li>
            <li>
                <a href="#2a" id="tab2" data-toggle="tab">Menu 4</a>
            </li>
            <li>
                <a href="#3a" id="tab3" data-toggle="tab">Menu 5</a>
            </li>
        </ul>
        <div class="tab-content clearfix">
            
          <div class="tab-pane active" id="1a">
             <div class="row">
                <div class="col-lg-12">
                            <div class="panel panel-default">
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="dataTable_wrapper">
                                        <table class="table table-striped table-bordered table-hover" border="0" cellspacing="5" cellpadding="5">
                                              <tbody>
                                                <tr>
                                                    <td><strong>Start Date:</strong></td>
                                                    <td><input name="min" id="min" type="text" placeholder="mm/dd/yyyy"></td>
                                                    <td><strong>End Date:</strong></td>
                                                    <td><input name="max" id="max" type="text" placeholder="mm/dd/yyyy"></td>
                                                </tr>
                                              </tbody>
                                          </table>
                                          <table class="table table-striped table-bordered table-hover" id="menu1">
                                              <thead>
                                                  <tr>
                                                      <th>Time</th>
                                                      <th>Speed Reference</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                               <% for(var i = 0; i < time.length; i++) 
                                                  { %>
                                                      <tr>
                                                        <td><%=time[i]%></td>
                                                        <td><%=speed_reference[i]%></td>
                                                      </tr>    
                                                  <% } %>   
                                              </tbody>
                                          </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
             </div>
          </div>
          <div class="tab-pane" id="2a">
             <div class="row">
                <div class="col-lg-12">
                            <div class="panel panel-default">
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="dataTable_wrapper">
                                        <table class="table table-striped table-bordered table-hover" border="0" cellspacing="5" cellpadding="5">
                                              <tbody>
                                                <tr>
                                                    <td><strong>Start Date:</strong></td>
                                                    <td><input name="min" id="min" type="text" placeholder="mm/dd/yyyy"></td>
                                                    <td><strong>End Date:</strong></td>
                                                    <td><input name="max" id="max" type="text" placeholder="mm/dd/yyyy"></td>
                                                </tr>
                                              </tbody>
                                        </table>
                                        <table class="table table-striped table-bordered table-hover" id="menu4">
                                            <thead>
                                                <tr>
                                                    <th>Time</th>
                                                    <th>Current Magnitude</th>
                                                    <th>Active Current</th>
                                                    <th>Torque Demand</th>
                                                    <th>Active Current Demand</th>
                                                    <th>Magnetising Current</th>
                                                    <th>Qverriding Current Limit</th>
                                                    <th>Motor Thermal State</th>
                                                    <th>Drive Ixt Level</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                             <% for(var i = 0; i < time.length; i++) 
                                                { %>
                                                    <tr>
                                                      <td><%=time[i]%></td>
                                                      <td><%=current_magnitude[i]%></td>
                                                      <td><%=active_current[i]%></td>
                                                      <td><%=torque_demand[i]%></td>
                                                      <td><%=active_current_demand[i]%></td>
                                                      <td><%=magnetising_current[i]%></td>
                                                      <td><%=qverriding_current_limit[i]%></td>
                                                      <td><%=motor_thermal_state[i]%></td>
                                                      <td><%=drive_ixt_level[i]%></td>
                                                    </tr>    
                                                <% } %>   
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
             </div>
          </div>
          <div class="tab-pane" id="3a">
             <div class="row">
                <div class="col-lg-12">
                            <div class="panel panel-default">
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="dataTable_wrapper">
                                        <table class="table table-striped table-bordered table-hover" border="0" cellspacing="5" cellpadding="5">
                                              <tbody>
                                                <tr>
                                                    <td><strong>Start Date:</strong></td>
                                                    <td><input name="min" id="min" type="text" placeholder="mm/dd/yyyy"></td>
                                                    <td><strong>End Date:</strong></td>
                                                    <td><input name="max" id="max" type="text" placeholder="mm/dd/yyyy"></td>
                                                </tr>
                                              </tbody>
                                        </table>
                                        <table class="table table-striped table-bordered table-hover" id="menu5">
                                            <thead>
                                                <tr>
                                                    <th>Time</th>
                                                    <th>Output Frequency</th>
                                                    <th>Output Voltage</th>
                                                    <th>Output Power</th>
                                                    <th>Motor Speed</th>
                                                    <th>DC Bus Voltage</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                             <% for(var i = 0; i < time.length; i++) 
                                                { %>
                                                    <tr>
                                                      <td><%=time[i]%></td>
                                                      <td><%=output_frequency[i]%></td>
                                                      <td><%=output_voltage[i]%></td>
                                                      <td><%=output_power[i]%></td>
                                                      <td><%=motor_speed[i]%></td>
                                                      <td><%=dc_bus_voltage[i]%></td>
                                                    </tr>    
                                                <% } %>   
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
             </div>
          </div>
        </div>
    </div>

</div>
<!-- /#page-wrapper -->
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <link  href="bower_components/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet">
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
    <script src="/js/table-pagination.js"></script>
    <script>
        window.onload = function() {
           pagination();
        };

        $('#tab2').click(function(){
           pagination();
        });
        $('#tab3').click(function(){
           pagination();
        });
    </script>

</body>

</html>
